.mary-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog{
    list-style: none;
    display: flex;
}
.blog-portfolio{
text-decoration: none;
margin-right: 15px;
color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.blog-blog{
    text-decoration: none;
    margin-right: 15px;
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.btn-primary{
    text-decoration: none;
    margin-right: 15px;
    border-radius: 5px;

background: rgb(253, 110, 10);
/* position: absolute; */
width: 100px;
height: 34px;
}
.mary{
    margin: 20px 20px;
}
.mary-name{
    font-family: Open Sans;
font-size: 45px;
font-weight: 800;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
color: black;
}
.mary-color{
    color: orange;
}
.hardy{
    display: flex;
}
.headerr{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    /* padding: 40px 0px 200px 0px; */
    background-position: top left, bottom right;
}